extends layout

block content
  h1
    blink
      | H8MAIL
  marquee
    | Have someone you hate? To get started, enter their email and they will be spammed from hell to high water.
    | Our intelligent spam system will automatically sign them up to a ton of mailing lists that they will NOT want to be a part of.
    | Make your enemies regret ever crossing you.
  .alert.alert-block
    | SPAM YOUR NEMESIS
  form(
    action="/email"
    method="post"
  )
    |Submit an Email
    input(
      type="text"
      name="email"
      id="email"
    )
    .btn.btn-primary.btn-large(
      onClick="submit()"
    ) H8MAIL
  h2
    blink#error
