extends layout

block content
  h1= H8MAIL
  form(
    action="/email"
    method="post"
  )
    |Submit an Email
    input(
      type="text"
      name="email"
      id="email"
    )
    input(
      type="submit"
    )
